--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
faiss-cpu==1.10.0

langchain==0.3.22
langchain-huggingface==0.1.2
langchain_community==0.3.18

transformers==4.51.3
sentence-transformers==4.0.1
accelerate==1.6.0